*class
*.log
*.iml

/.idea
.gradle
/local.properties
/.spotless

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
*.cache
.externalNativeBuild
.cxx
local.properties
